nav {
  height: 120px;
  background-color: #000000;
  color: #ab2323;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

#logo {
  font-family: 'Bungee', sans-serif;
  font-size: xx-large;
  }

span {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: large;
}