.message-composer {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

#compose-message-label {
  display: flex;
  font-weight: 700;
}

#tweet-text {
  display: flex;
  border-style: hidden;
  border-bottom: 5px solid #545149;
  background-color: #f4f1ec;
  width: 100%;
  outline: none;
  resize: none;
}

#over-140 {
  display: none;
  padding: 15px;
  border: 5px solid #ff0000;
  color: #ff0000;
}

#empty-text {
  display: none;
  padding: 15px;
  border: 5px solid #ff0000;
  color: #ff0000;
}

.button-and-counter {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Bungee', sans-serif;
}

.button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-size: large;
}

.counter {
  color: #545149;
}
